.plus {
    display: block;
    border-radius: 50%;
    background-color:#00D1B2;
    color: white;
    border: 5px;
    margin-bottom: 20px;
}
.search {
    background-color: whitesmoke;
    color: #49B2B3;
    border-color: #49B2B3;
    border-radius: 30px;
    padding:2px 20px;
    font-weight: bolder;
    border: solid;
    margin-bottom: 20px;
    width: 150px;
    
}
.account {
    color: azure;
    background-color: blue;
    border-radius: 1px;
    border: 2px solid black;
    box-shadow: 2px 3px 1px  black;
    padding: 5px 10px;
}
