.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #333333;
}

ul {
    display: flex;
    list-style: none;
    padding: 16px 32px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #BEBEBE;
    margin-right: 20px;
}

.active {
    color: #F6F6F6;
}   

.btn {
    color: #F6F6F6;
    border: 3px solid black;
    background-color: #17A2B8;  
    box-shadow: 2px 2.5px 0px 1px black;
}

h1 {
    display:inline-block;
    color: #FEFEFE;
    margin-left: 20px;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

