.nav {
    display: flex;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
a {
    text-decoration: none;
    color: #BEBEBE;
    margin-right: 20px;
}
.active {
    color: #F6F6F6;
}   
.btn {
    color: #F6F6F6;
    border: 2px;
    background-color: #17A2B8;  
    box-shadow: 1px 1px 1px 4px black;
}
h1 {
    margin-right: 0px;
    display:inline-block;
    color: #FEFEFE;
    margin-left: 20px;
}
div {
    background-color: #333333;
}
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

