h1 {
    color:rgb(128, 0, 0);
    background-color: aquamarine;
}
.aws {
    color: blueviolet;
    text-align: center;
    text-decoration: line-through;
    font-style: italic;
    font-size: x-small;
    font-weight: bold;
    font-family: serif;
}
.aws1 {
color: blue;
text-align: justify;
background-color:  khaki;
font-family: Arial, Helvetica, sans-serif;

}
.aws2 {
    color: wheat;
    text-align: end;
    width: 500px;
    height: 500px;
    font-family: cursive;

}

p {
        
}