<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books</title>
        <link rel="stylesheet" type="text/css" href="{% static  'style1.css' %}">

    </head>
    <body>
        <main>
            <h1>Add Book</h1>
            <form action="addbook" method="post">
                {% csrf_token %}
                <label for="title">Title</label>
                <input type="text" name="title" required>
                <label for="desc">Description</label>
                <textarea name="desc"></textarea>
                <button type="submit">Add</button>
            </form>
        </main>
        <div>
            <table>
                <tr>
                    <th class="first"><p>ID</p></th>
                    <th class="mid"><p>Name</p></th>
                    <th class="last"><p>Action</p></th>
                </tr>
                {% for book in the_book %}
                <tr>
                    <td><p> {{ book.id }} </p></td>
                    <td><p> {{ book.title }} </p> </td>
                    <td><p> <a href="result/book/{{ book.id }}">Action</a></p></td>
                </tr>
                    {% endfor %}
            </table>
        </div>        
    </body>
</html>