<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Page</title>
        <link rel="stylesheet" type="text/css" href="{% static  'mainstyle.css' %}">
    </head>
    <body>
        <main>
            <h1> Choose where you want to go</h1>
            <div>
                <a href="/books"> book</a>
                <a href="/authors"> author</a>
            </div>
        </main>
    </body>
</html>