body{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(75, 98, 114);
}
ul{
  list-style: none;
  display:flex;
  flex-direction: column;
  text-align: center;
  padding-right: 30px;
  gap: 2em;
}

h1{
  font-size: 40px;
  text-align: center;
}
h2{
  font-size: 30px;
  text-align: center;
}
li{
  font-size: 20px;
}
div{
  border: 2px solid rgb(239, 14, 14);
  background-color: rgb(61, 51, 51);
  color: wheat;
  padding: 1em;
}