h1 {
    color: rgb(148, 245, 252);
    background-color: black;
    text-align: left;
    font-style: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    span {
        color: rgb(255, 255, 255);
    }
    
}
h2 {
    color: white;
    background-color: purple;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
h3 {
    color: black;
    background-color: rgb(81, 231, 231);
    font-style: normal;
    text-align: right;
    margin-top: 5px;
    text-decoration: underline;
    font-family: sans-serif;
}