.border {
    position: relative;
    top: 150px;
    left: 31%;
    width: 500px;
    border: 2px solid #CCCCCC;
}
.gear {
    vertical-align: middle;
    width: 15px;
    height: 15px;
}
.fullstack {
    margin-top: 0px;
    margin-bottom: 2px;
}
.shadows {
    margin-top: 0px;
    margin-bottom: 10px;
}

a {
    color: #2A6AA2;
}
.map-marker {
    width: 10px;
    text-decoration: none;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
}
h4 {
    display: inline-block;
}
.user-circle {
    width: 14%;
    position: absolute; 
    top: 19%;
    left: 5%;
    height: 20%;
    padding: 3px;
    border-radius: 50%;
    background-color: #CDCDCD;
}
.uppercolor {
    flex: 1 1 0%;
    height: 100px;
    width: 500px;
    display: inline-block;
    background-color: #17A2B8;
}
h1 {
    margin-bottom: 0px;
    margin-top: 5%;
}
.downcolor {
    padding: 20px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}