.box1 {
    background-color: #66D2FE;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
}
.box2 {
    background-color: #D3AFCD;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}
.box3 {
    background-color: #FCFCFF;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    display: flex;
}
.mainpage {
    background-color: #F2F3F5;
    display: inline-block;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
}
img {
    height: 200px;
}
p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    text-align: center;
    color: #344855;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    margin-left: 20%;
}