body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar {
    display: flex;
    font-weight: bold;
    align-items: center;
    background-color: black;
    justify-content:  space-around;
}
ul {
    list-style: none;
    margin: 0 0;
}
a {
    margin-left:40px;
    text-decoration: none;
    color: #A8A8A8 ;
}
.active {
    color:rgb(255, 255, 255);
}
.navbarlist {
    display: flex;
    align-items: center;
}
button {
    color: aliceblue;
    font-weight: bold;
    padding: 4px 8px;
    border:  2px solid rgb(37, 36, 36);
    background-color: #17A2B8;
}
h1 {
    display: inline-block;
    color: white;
    text-align: left;
}
.allpage {
    display: flex;
    margin-top: 4%;
}
.first2pages {
    margin-left: 500px;
    margin-right: 30px;
}
.pagemain {
    display: flex;
    width: 400px;
    flex-direction: column;
    border: 2px solid #e2dede;
}
.uppermain {
    border-radius: 1%;
    width: 100%;
    display: flex;
    height: 100px ;
    background-color: #17A2B8;
}
.lowermain {
    padding: 20px;
    width: 50%;

}
.userimg {
    border: 3px solid #e2dede;
    border-radius: 50%;
    margin-top: -60px;
    width: 68px;
    height: 70px;
}
.Jane {
    margin-top: 2.5%;
    margin-bottom: 1%;
}
.map {
    margin-right: 0% ;
    width: 10px;
    height:14px;
    margin-top: 1%;
}
.seattle {
    margin:1% ;
    font-size: large;
    display: inline-block;
}
.mainp {
    font-weight: bold;
    width: 130%;
    margin: 1%;
}
.editprofile {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
    margin-left: 1%;
}
.gear {
    margin-right: 0%;
    vertical-align: bottom;
    width: 15px;
    height: 15px;
}
.education {
    font-weight: bold;
    margin-top: 30px ;
    border: 2px solid #E2DEDE;
    width: 400px;
}
.upperedu {
    background-color: #333333;
    display: block;
    width: 100%;
    height: 10%;
}
.eduEdu{
    color: white;
    margin: 10px 30px;
    display: inline-block;
    border-radius: 1%;
}
.loweredu {
    padding-left: 20px;
}
.dec2019 {
    color: #858585;
}
.second2pages {
    display: flex;
    flex-direction: column;
}
.connectionReq {
    border: 2px solid #D1D1D1;
}   
.upperreq {
    background-color: #333333;
    display: flex;
    border-radius: 1%;
    width: 100%;
    align-items: center;
    height: 50px;
}
.h3forconreq {
    color: white;
    display: flex ;
    padding: 15px 10px;
    width: 200px;
}
.req2 { 
    padding: 2%;
    text-align: center;
    width: 10%;
    background-color: #CCCCCC;
    margin-left: 15px;
    border-radius: 50% ;
}
.linereq{
    display: flex;
    margin: 7px 10px 8px 10px ;
    align-items: center;
}
.usersmall {
    border: 3px solid #e2dede;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.plusandfulse {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.nameuser {
    margin:  1px 50px 1px 10px;
    display: inline-block;
}
.yourConnection {
    margin-top: 30px;
    border: 2px solid #D1D1D1;
}
.uppercon {
    background-color: #333333;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 1%;
    color: white;
}
.con500 {
    background-color: #CCCCCC;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 10px;
    color: #333333;
    padding: 1% 3%;
}
.viewmore {
    border: 2px solid #D1D1D1;
    padding: 2% 2% 4% 4%;
}