.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding-right: 2px;
    padding-top: 2px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin:20px;

}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 20px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    padding-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin-left: 15px;
}
#advertisement {
    height: 120px;
    margin-right:20px;
    width: 660px;
    background-color: purple;
    margin-top: 20px;
    margin-left: 15px;
}
.row {
    display: flex;
    /* TODO - what should go here? */
}